{{ define "main" }}
    <div class="post {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
        <div class="post-content">
            <div class="post-title">
                <h1>{{ .Title }}</h1>
                {{ if eq .Type "posts"}}
                    <div class="info">
                        <em class="fas fa-calendar-day"></em>
                        <span class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
                        <em class="fas fa-stopwatch"></em>
                        <span class="reading-time">{{ i18n "reading_time" .ReadingTime }}</span>
                    </div>
                {{ end }}
            </div>

            {{ .Content }}

            {{- if (eq .Params.contact true) -}}
              {{- partial "contact.html" . -}}
            {{- end -}}

            {{ if eq .Type "posts"}}
                {{ partial "comments.html" . }}
            {{ end }}
        </div>
        <br />
        <div class="post-footer">
            <div class="more-title">
                Find More:
            </div>
            <div class="info">
                {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
                {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
            </div>

            <span class="separator"> &nbsp; &nbsp;</span>
            <span class="separator">
                {{ if .NextPage }}
                <a class="link-reverse" href="{{ .NextPage.Permalink }}?ref=footer">« {{ .NextPage.Title | truncate 50 "..." }}</a>
                {{ end }}
            </span>
            {{ if and .NextPage .PrevPage }}
                <span class="separator"> &nbsp; | &nbsp; </span>
            {{ end }}
            <span class="separator">
                {{ if .PrevPage }}
                <a class="link-reverse" href="{{ .PrevPage.Permalink }}?ref=footer">{{ .PrevPage.Title | truncate 50 "..."}} »</a>
                {{ end }}
            </span>
        </div>
    </div>

{{ end }}
